#menu {
    background-color: black;
    width: 10vw;
    height: 100vh;
}

.menuButton{
    width: 10vw;
    color: white;
    border: none;
    background-color: black;
}

#gameButton{
    margin-top: 10vh;
}

/*Mobile*/
@media (max-width: 480px) {
    #sideMenu{
        display: none;
    }
}