.sidebar{
    background-color: black;
    width: 5%;
    height: 100%;
    flex: 0.5;
    flex-flow: column;
}

.menu_button{
    width: 100%;
}

#toggle_button{
    border: hidden;
    background-color: black;
    color: azure;
    flex: 1;
    width: 100%;
}

