#mainView{
    width: 90vw;
    height: 100vh;
    background-color: white;
}


/* Mobile */

@media (max-width: 480px) {
    #header{
        width: 100vw;
        margin: 0;
    }

    #footer{
        width: 100vw;
        display: inline;
    }

    #mainView{
        width: 100vw;
    }
    
    #content{
        margin: 0;
    }
    
    .table{
        margin-top: 10vh;
    }
}