#content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

#header{
    width: 92vw;
    height: 10vh;
    background-color: brown;
}

#footer{
    width: 92vw;
    height: 10vh;
    background-color: brown;
}

#mainView{
    width: 92vw;
    height: 80vh;
    background-color: white;
}

/* Mobile */

@media (max-width: 480px) {
    #header{
        width: 100vw;
    }

    #footer{
        width: 100vw;
    }

    #mainView{
        width: 100vw;
    }
}